{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": "**/__tests__/*",
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "parserOptions": {
    "project": "./tsconfig.lint.json",
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
